body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header {
  width: 100%;
  height: 67px;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav {
  text-align: right;
  flex-grow: 1;
}
nav span {
    display: inline-block;
    padding: 20px 10px;
}
nav span a {
  text-decoration: underline;
  color:inherit;
}
 header img {
  height: 50px;
  padding-left: 10px;
  text-align: right;
}
/*Trying to figure out banner and picture*/
.mission{
  display: flex;
  background-image: url("../resources/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  align-content: center;
  align-items: center;
  flex-shrink: 1;
}
.banner {
  background-color: black;
  height: 120px;
  width: 1200px;
  padding: 10px 0px;
}
/*Images for the tea*/
.flex-container.tea img {
  height: 200px;
  width: 300px;
}
