body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* All division*/
.all {
opacity: 0.9;
width: 1200px;
margin: auto;
justify-content: center;
}
div {
  display: block;
}
/*Header and navigation*/
header {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
}
nav {
  text-align: right;
  flex-grow: 1;
}
nav span {
    display: inline-block;
    padding: 20px 10px;
}
nav span a {
  text-decoration: underline;
  color:inherit;
}
 header img {
  height: 50px;
  padding-left: 10px;
  text-align: right;
}
/* banner and background picture*/
#mission{
  height: 700px;
  background-image: url("../resources/img-mission-background.jpg");
  padding-top: 70px;
}
.banner {
  background-color: black;
  width: 100%;
  margin: auto;
  padding: 0px;
}
.banner h2 {
  margin: 10px;
}
div h4 {
  margin: 10px;
}
/*Images for the tea*/
.stock img {
  height: 200px;
  width: 300px;
  padding: 15px 15px 10px 15px;
}
.stock span{
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}
/* featuredte section*/
#featuredtea {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 55px;
}
/*Location section*/
#location {
  height: 500px;
  background-image: url("../resources/img-locations-background.jpg");
  align-content: center;
}
#location h2 {
  padding-top: 70px;
  margin: auto;

}
.places {
  width: 300px;
  background-color: black;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 20px;
}
.flex-container.locations {
  flex-basis: center;
  justify-content: center;

}
/*Contact*/
.contact {
  height: 200px;
}
.contact h2 {
  margin-top: 10px;
}
/*Footer*/
footer {
  text-align: left;
  margin-left: 20px;
  padding: 0px;
}
