body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header {
  display: flex;
  width: 100%;
}
.navigation {
  text-align: right;
}
.logo img {
  height: 50px;
  padding-left: 10px;
}
